---
import Member from "../../components/memberCard.astro";
import { getTeamMembers } from "../../helpers/getTeam";
import Layout from "../../layouts/Layout.astro";

const teamMembers = await getTeamMembers();
---

<Layout>
  <h2>Our Team</h2>
  <p>
    Reversim Summit 2025 is a testament to community collaboration, driven by a
    dedicated team of passionate volunteers who are experts in their respective
    fields. Our content committee, comprised of enthusiastic individuals, works
    tirelessly to curate an enriching and insightful experience for all
    attendees.
  </p>

  <div class="team-member-container">
    {teamMembers.map((member) => <Member {...member} />)}
  </div>
</Layout>

<style lang="scss">
  .team-member-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 20px 80px;
  }

  p {
    margin-bottom: 20px;
  }
</style>
