---
import Layout from "../layouts/Layout.astro";
---

<Layout class:list={["container"]}>
  <h1>404</h1>
  <a href="/">Home Page</a>
</Layout>

<style>
  h1 {
    font-size: 90px;
    text-align: center;
  }

  a {
    color: blue;
    display: block;
    text-align: center;
  }
</style>
