---
import Layout from "../layouts/Layout.astro";
import "@splidejs/splide/css";
import Title from "../components/title.astro";
import Member from "../components/memberCard.astro";
import Venue from "../components/venue.astro";
import PastEvents from "../components/pastEvents.astro";
import { getTeamMembers } from "../helpers/getTeam";
import MainBanner from "../components/mainBanner.astro";
const teamMembers = await getTeamMembers();
---

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  body {
    height: auto;
  }

  * {
    scroll-margin-top: 100px;
  }

  .splide__pagination {
    bottom: -3em;
    width: max-content;
    margin: auto;
  }
  .splide__pagination li {
    display: flex;
  }
  .splide__pagination__page {
    height: 10px;
    width: 10px;
    background: #1d2244; /* Custom color */
    border-radius: 50%;
    opacity: 0.5;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .splide__pagination__page.is-active {
    background: #7eb9bf; /* Change color for active */
    opacity: 1;
    transform: scale(1);
  }

  .splide__arrows {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none; /* Ensures they don't interfere with image clicks */
  }
  .splide__arrow {
    background: none;
    pointer-events: auto; /* Allows clicking */
  }
  .splide__arrow svg {
    fill: var(--pink); /* Arrow color */
    font-size: 26px;
  }
  .splide__arrow--prev {
    left: -50px; /* Moves previous arrow outside */
  }
  .splide__arrow--next {
    right: -50px; /* Moves next arrow outside */
  }

  body {
    font-family: Montserrat, sans-serif;
  }
</style>

<Layout havePadding={false}>
  <MainBanner />

  <div class="card">
    <Title style="color: black" title="Organizing Team" id="team" />

    <div class="team-member-container">
      {teamMembers.map((member) => <Member {...member} />)}
    </div>
  </div>

  <div class="past-events-card card">
    <PastEvents />
  </div>

  <div class="card venue-card">
    <Venue />
  </div>

  <footer>
    <div class="footer-content">
      <a class="header-link" href={"/coc"}>Code of conduct </a>
      <p>All rights reserved 2025</p>
    </div>
  </footer>
</Layout>

<style lang="scss">
  .team-member-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 32px 10px;
  }
  .card {
    max-width: var(--max-container-width);
    margin: auto;

    &.venue-card {
      padding-bottom: 100px;
    }

    @media screen and (max-width: 1280px) {
      padding: 20px 10% 0;
    }
  }
  .past-events-card {
    position: relative;
  }

  footer {
    position: absolute;
    background-color: var(--orange);
    bottom: auto;
    right: 0px;
    width: 100%;
    padding: 18px 0px;

    .footer-content {
      max-width: var(--max-container-width);

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      color: white;

      @media (max-width: 576px) {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
      }
    }
  }
</style>
