---

---

<script>
  const button = document.querySelector("#back-button");
  button?.addEventListener("click", () => {
    history.back();
  });
</script>

<button id="back-button" class="back-button">Back</button>

<style>
  .back-button {
    border: none;
    border-radius: 4px;
    width: max-content;
    height: max-content;
    background-color: #7ca4d6;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
  }
</style>
