---
import HeaderLink from "./header-link.astro";
import { Image } from "astro:assets";

import reversim25Icon from "../assets/reversim-25-icon.png";
---

<div class="header">
  <div class="inner-container">
    <a data-astro-prefetch href="/">
      <Image class="rv-icon" alt="Reversim 2025 Logo" src={reversim25Icon} />
    </a>
    <div class="navbar-container">
      <HeaderLink link="#about" label="About" iconColor="#7ebec8" />
      <HeaderLink link="#sponsors" label="Sponsors" iconColor="var(--orange)" />
      <HeaderLink link="#team" label="Team" iconColor="var(--green)" />
      <HeaderLink
        link="#past-events"
        label="Past Events"
        iconColor="var(--pink)"
      />
      <HeaderLink link="#venue" label="Venue" iconColor="#7ebec8"/>
    </div>
  </div>
</div>

<style lang="scss">
  .header {
    background-image: url("../assets/dot-grid.png");
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    padding: 0px 10%;
  }

  .inner-container {
    max-width: var(--max-container-width);
    margin: auto;

    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-container {
      display: flex;
      gap: 50px;
    }
  }

  .rv-icon {
    width: 100px;
    height: auto;
  }
</style>