---
interface Props {
  title: string;
  titleColor?: string;
  style?: string;
  id?: string;
}

const { title, titleColor, style, id } = Astro.props;
---

<a href={id ? `#${id}` : undefined}>
  <h3
    style={`color:${titleColor || "white"}; ${style}`}
    class="title-container"
    id={id}
  >
    {title}
  </h3>
</a>

<style lang="scss">
  .title-container {
    position: relative;
    width: 46%;
    margin: 100px 0 60px;
    font-size: 32px;

    background-image: linear-gradient(
      to right,
      #8faad6 60%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: left 0 bottom 2px;
    background-size: 20px 3px;
    background-repeat: repeat-x;

    &::before {
      content: "";
      position: absolute;
      width: 0.7em;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #8faad6;
      top: 100%;
      right: 0;

      transform: translate(50%, calc(-50% - 1.5px));
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      font-size: 24px;

      &::before {
        width: 0.6em;
        transform: translate(50%, calc(-50% - 3.5px));
      }
    }
  }
</style>
