---
import Title from "./title.astro";
import FrameEdge from "../components/frameEdge.astro";
---

<Title style="color: #060723" title="Venue" id="venue" />

<div class="venue">
  <div class="venue-info">
    <p class="descriptions">
      Expo Tel Aviv (formerly the Israel Trade Fairs and Convention Center and
      later the Tel Aviv Convention Center, commonly referred to as Ganei
      HaTaarucha or the Tel Aviv Fairgrounds, is a fairground complex on Rokach
      Boulevard in northern Tel Aviv, Israel used as a venue for concerts,
      exhibitions, trade fairs and conferences.
    </p>
    <!-- <h4>How to get here?</h4>
    <p>
      Car
      <br />
      Bus
      <br />
      Train
      <br />
      AirPlain
      <br />
    </p>
    <h4>Kosher food</h4>
    <p>The 2024 site has a link to the thing here</p>
    <h4>Will there be real coffee?</h4>
    <p>Good Question!</p> -->
  </div>
  <div class="map-wrapper">
    <FrameEdge rotation={0} />
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3379.6253111540705!2d34.80751027629005!3d32.106410873951326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d497d21e3f0bd%3A0x498ace449d9c240f!2sExpo%20Tel%20Aviv!5e0!3m2!1sen!2sil!4v1740684346960!5m2!1sen!2sil"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
    <FrameEdge bottom={0} right={0} rotation={180} />
  </div>
</div>

<style lang="scss">
  p {
    font-weight: 300;
    font-size: 16px;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
  }

  .venue {
    display: flex;
    width: 100%;
    gap: 42px;
    align-items: start;
    > * {
      flex: 1;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;

      * {
        width: 100%;
      }
    }
  }
  .map-wrapper {
    position: relative;

    iframe {
      width: 100%;
    }
  }
</style>
