---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h2>Attributions</h2>
  <div class="attributions">
    <section>
      <h3>Open Source Libraries</h3>
      <ul>
        <li><a href="https://astro.build">Astro</a> - Web framework</li>
        <li><a href="https://www.splidejs.com">Splide.js</a> - Carousel component</li>
        <li><a href="https://github.com/flackr/scroll-timeline">Scroll Timeline Polyfill</a> - Scroll animations</li>
        <li><a href="https://phaser.io/">Phaser3</a> - Hero Machine</li>
      </ul>
    </section>

    <section>
      <h3>Design Assets</h3>
      <ul>
        <li>Dot pattern by Darius Garza, Subtle Patterns</li>
        <ul>
          <li><a href="https://www.vecteezy.com/vector-art/20155545-rubber-duck-vector-icon-design">Rubber Duck Vector Icon Design</a> by Muhammad Usman, Vecteezy.com</li>
          <li><a href="https://www.vecteezy.com/vector-art/17964927-electric-fan-home-machine-flat-color-icon-vector-icon-banner-template">Electric Fan Home Machine Flat Color Icon Vector</a> by Muhammad Adnan, Vecteezy.com</li>
          <li><a href="https://www.vecteezy.com/vector-art/6617582-ten-cute-bugs">Ten Cute Bugs</a> by Gerardo Giuseppe Ramos Granada, Vecteezy.com</li>
          <li><a href="https://www.vecteezy.com/vector-art/35223953-stack-of-books-flat-illustration">Stack of Books Flat Illustration</a> by Ardhi Creatives, Vecteezy.com</li>
          <li><a href="https://www.vecteezy.com/vector-art/3216575-coffee-machine-for-website-template-with-people-and-cup">Coffee Machine for Website Template with People and Cup</a> by Muhammad Ribkhan, Vecteezy.com</li>
          <li><a href="https://www.vecteezy.com/vector-art/10778653-robot-arm-vector-for-website-symbol-icon-presentation">Robot Arm Vector for Website Symbol Icon Presentation</a> by Daniel Hartanto , Vecteezy.com</li>
          <li><a href="https://www.vecteezy.com/vector-art/10420574-computer-retro-tech">Computer Retro Tech</a> by Diana Johanna Velasquez , Vecteezy.com</li>
          <li><a href="https://www.vecteezy.com/vector-art/35696023-the-cog-wheel-with-a-clock-symbolizes-the-time-concept">The Cog Wheel with a Clock Symbolizes the Time Concept</a> by Yutthana Gaetgeaw , Vecteezy.com</li>
          <li><a href="https://www.vecteezy.com/vector-art/50458524-plant-in-a-glass-dome-icon">Plant in a Glass Dome Icon</a> by Deni Subianto , Vecteezy.com</li>
          <li><a href="https://www.freepik.com/free-vector/decorative-background-assembly-machinery_956710.htm">Decorative background of assembly machinery, <a href="http://www.freepik.com">Designed by Freepik</a></li>
        </ul>
    </section>

    <section>
      <h3>Special Thanks</h3>
      <p>
        We would like to thank all the contributors, speakers, sponsors, and volunteers 
        who make Reversim Summit possible. Your dedication to the developer community
        is what makes this event special.
      </p>
    </section>
  </div>
</Layout>

<style lang="scss">
  .attributions {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    section {
      margin-bottom: 40px;
    }

    h3 {
      color: var(--blue);
      margin-bottom: 16px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 8px;
        
        a {
          color: var(--green);
          text-decoration: none;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    p {
      line-height: 1.6;
    }
  }
</style>
