---
import Header from "../components/header.astro";
import MainBanner from "../components/mainBanner.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Reversim 2025</title>
  </head>
  <body>
    <Header />
    {Astro.url.pathname === "/" && <MainBanner />}
    <div class="body-container">
      <slot class="layout-container" />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --breakpoint-small: 576px;
    --breakpoint-medium: 768px;
    --breakpoint-large: 992px;
    --breakpoint-x-large: 1200px;

    --max-container-width: 1000px;

    --pink: #fd6a82;
    --orange: #f78750;
    --green: #81c47a;
    --blue: #506592;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 100;
  }

  body {
    background-image: url("../assets/dot-grid.png");

    position: relative;
  }

  .body-container {
    /* position: relative; */
    padding: 20px 10% 0;
    max-width: var(--max-container-width);
    margin: auto;
    box-sizing: unset;
  }

  * {
    box-sizing: border-box;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 100;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
