---
import Header from "../components/header.astro";
import STDImage from "../assets/std.png";
import { Font } from "astro:assets";

interface Props {
  havePadding?: boolean;
}

const { havePadding = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon-dark-mode.svg" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-light-mode.svg"
      media="(prefers-color-scheme: light)"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Font cssVariable="--font-montserrat" preload />
    <meta name="generator" content={Astro.generator} />
    <title>Reversim 2025</title>

    <meta property="og:title" content="Reversim 2025" />
    <meta
      property="og:description"
      content="Reversim Summit 2025 is Israel’s leading community-driven tech conference, bringing together developers, product managers, and data scientists for top-tier content and networking."
    />
    <meta
      property="og:image"
      content={`https://summit2025.reversim.com${STDImage.src}`}
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://summit2025.reversim.com/" />

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-PSS53H641T"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-PSS53H641T");
    </script>
  </head>
  <body>
    <Header />
    <div class={`body-container ${havePadding ? "have-padding" : ""}`}>
      <slot class="layout-container" />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --breakpoint-small: 576px;
    --breakpoint-medium: 768px;
    --breakpoint-large: 992px;
    --breakpoint-x-large: 1200px;

    --max-container-width: 1000px;

    --pink: #fd6a82;
    --orange: #f78750;
    --green: #81c47a;
    --blue: #506592;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 100;
  }

  body {
    background-image: url("../assets/dot-grid.png");

    position: relative;
  }

  .body-container {
    /* position: relative; */
    margin: auto;
    box-sizing: unset;
    overflow: hidden;
  }

  .have-padding {
    max-width: var(--max-container-width);
    padding: 20px 10% 0;
  }

  * {
    box-sizing: border-box;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 100;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
